@CHARSET "UTF-8";

div[data-role=header], .div-style-a, .div-style-b, .div-style-c {
	text-align: center;
}

.div-style-a {
	background-color: #56c3e6;
}

.div-style-b {
	background-color: #aaaaaa;
	color: #333333;
}

.div-style-c {
	background-color: #555555;
	color: #dddddd;
}