@CHARSET "UTF-8";

@media all and (max-width: 991px) {
	.my-breakpoint .ui-block-a, .my-breakpoint .ui-block-b, .my-breakpoint .ui-block-d,
		.my-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	}
	.my-breakpoint .ui-block-c {
		display: none;
	}
}

@media all and (min-width: 992px) {
	.my-breakpoint.ui-grid-b .ui-block-a {
		width: 66.66666667%;
	}
	.my-breakpoint.ui-grid-b .ui-block-c {
		width: 33.33333333%;
	}
	.my-breakpoint.ui-grid-b .ui-block-b {
		display: none;
	}
}

.my-breakpoint.ui-grid-b .ui-block-a {
	background-color: #56c3e6;
}

.my-breakpoint.ui-grid-b .ui-block-c {
	background-color: #555555;
	color: #dddddd;
}

.my-breakpoint.ui-grid-b .ui-block-b {
	background-color: #aaaaaa;
	color: #333333;
}